.ArticleHeader {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.CardsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}
