.InputContainer {
    position: relative;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,0);
    padding: .25rem;
    margin: .25rem
}

.InputContainer:hover {
    border-color: #ced4da;
}

.ButtonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.GapBlock {
    padding: 16px;
    margin-bottom: 16px
}

.CardEnd {
    border-bottom: 1px solid #ced4da;
    margin-bottom: -1px;
}
